**/aclocal.m4
**/autom4te.cache
**/config.guess
**/config.sub
**/configure
**/Makefile.in
**/*~

src/compile
src/depcomp
src/install-sh
src/ltmain.sh
src/m4/libtool.m4
src/m4/ltoptions.m4
src/m4/ltsugar.m4
src/m4/ltversion.m4
src/m4/lt~obsolete.m4
src/missing

target/**